---
http_interactions:
- request:
    method: post
    uri: http://austin.apartmenthomeliving.com/apartments-for-rent/1-bedroom.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      etag:
      - '"c9d637520f488349af5c2f041549f799"'
      status:
      - '200'
      content-type:
      - application/json; charset=utf-8
      x-route:
      - awahl8, awahl7
    body:
      encoding: UTF-8
      string: "[\r\n\r\n{\r\n    \"id\": \"305177\",\r\n    \"fn\": \"Northgate Hills
        Apartments\",\r\n    \"url\": \"http://www.apartmenthomeliving.com/apartment-finder/Northgate-Hills-Austin-TX-78758-305177\",\r\n
        \   \"image\": \"http://propimages.apartments.com/100/13297/6648857_32.jpg\",\r\n
        \   \"listing\": 0,\r\n    \"latitude\": 30.3693,\r\n    \"longitude\": -97.7174,\r\n
        \   \"tel\": \"(512) 582-5160\",\r\n    \"address\": \"9024 Northgate Boulevard\",\r\n
        \   \"pricing\": \"1 bedroom apartment from $562 to $629\",\r\n\r\n    \"floorplans\":
        [\r\n\r\n        \"1 Bedroom Apartments from <b>$562-$629</b>\"\r\n\r\n        ,\"2
        Bedroom Apartments from <b>$770-$1019</b>\"\r\n\r\n    ],\r\n\r\n    \"ishouse\":
        false,\r\n    \"city_st_zip\": \"Austin, TX 78758\"\r\n}\r\n,\r\n\r\n{\r\n
        \   \"id\": \"305182\",\r\n    \"fn\": \"City Point Apartments\",\r\n    \"url\":
        \"http://www.apartmenthomeliving.com/apartment-finder/City-Point-Austin-TX-78723-305182\",\r\n
        \   \"image\": \"http://propimages.apartments.com/100/15283/7641767_32.jpg\",\r\n
        \   \"listing\": 0,\r\n    \"latitude\": 30.3189,\r\n    \"longitude\": -97.7032,\r\n
        \   \"tel\": \"(512) 831-5120\",\r\n    \"address\": \"1071 Clayton La[...]
